import type { ClientConfig } from './core/ClientConfig';
import { FetchHttpRequest } from './core/FetchHttpRequest';
import { {{ service_class_name }} } from './apis/api.service';

export class {{ client_class_name }} extends {{ service_class_name }} {
  public readonly request: FetchHttpRequest;

  constructor(config: ClientConfig) {
    super(new FetchHttpRequest(config));
    this.request = this.httpRequest as FetchHttpRequest;
  }
}
