/*
 * Algod REST API.
 *
 * API endpoint for algod operations.
 *
 * The version of the OpenAPI document: 0.0.1
 * Contact: contact@algorand.com
 * Generated by: Rust OpenAPI Generator
 */

use algokit_http_client::{HttpClient, HttpMethod};
use serde::{Deserialize, Serialize};
use std::collections::HashMap;

use super::{AlgodApiError, ContentType, Error};
use algokit_transact::AlgorandMsgpack;

// Import all custom types used by this endpoint
use crate::models::{ErrorResponse, GetTransactionGroupLedgerStateDeltasForRound};

// Import request body type if needed

/// struct for typed errors of method [`get_transaction_group_ledger_state_deltas_for_round`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetTransactionGroupLedgerStateDeltasForRoundError {
    Status401(ErrorResponse),
    Status404(ErrorResponse),
    Status408(ErrorResponse),
    Status500(ErrorResponse),
    Status501(ErrorResponse),
    Statusdefault(),
    DefaultResponse(),
    UnknownValue(crate::models::UnknownJsonValue),
}

/// Get ledger deltas for transaction groups in a given round.
pub async fn get_transaction_group_ledger_state_deltas_for_round(
    http_client: &dyn HttpClient,
    round: u64,
) -> Result<GetTransactionGroupLedgerStateDeltasForRound, Error> {
    let p_round = round;

    let path = format!("/v2/deltas/{round}/txn/group", round = p_round);

    let mut query_params: HashMap<String, String> = HashMap::new();
    query_params.insert("format".to_string(), "msgpack".to_string());

    let mut headers: HashMap<String, String> = HashMap::new();
    headers.insert("Accept".to_string(), "application/msgpack".to_string());

    let body = None;

    let response = http_client
        .request(
            HttpMethod::Get,
            path,
            Some(query_params),
            body,
            Some(headers),
        )
        .await
        .map_err(|e| Error::Http { source: e })?;

    let content_type = response
        .headers
        .get("content-type")
        .map(|s| s.as_str())
        .unwrap_or("application/json");

    match ContentType::from(content_type) {
        ContentType::Json => serde_json::from_slice(&response.body).map_err(|e| Error::Serde {
            message: e.to_string(),
        }),
        ContentType::MsgPack => rmp_serde::from_slice(&response.body).map_err(|e| Error::Serde {
            message: e.to_string(),
        }),
        ContentType::Text => {
            let text = String::from_utf8(response.body).map_err(|e| Error::Serde {
                message: e.to_string(),
            })?;
            Err(Error::Serde {
                message: format!("Unexpected text response: {}", text),
            })
        }
        ContentType::Unsupported(ct) => Err(Error::Serde {
            message: format!("Unsupported content type: {}", ct),
        }),
    }
}
