name: Android CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.85.0
          targets: aarch64-linux-android, arm-linux-androideabi, armv7-linux-androideabi, i686-linux-android, thumbv7neon-linux-androideabi, x86_64-linux-android

      - name: Install Cargo-NDK
        run: cargo install cargo-ndk@^3.5

      - name: Install Android ndk
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r27d

      - name: Build AAR
        run: cargo pkg transact aar

      - name: Host Test
        working-directory: packages/android/algokit_transact
        run: ./gradlew test

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Free Disk Space (Ubuntu)
        uses: AdityaGarg8/remove-unwanted-software@v5
        with:
          remove-dotnet: true
          remove-haskell: true
          remove-codeql: true
          remove-docker-images: true
          remove-large-packages: true

      - name: Android Test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          arch: x86_64
          script: ./gradlew connectedAndroidTest
          working-directory: packages/android/algokit_transact

      - name: Archive Build Output
        uses: actions/upload-artifact@v4
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        with:
          name: algokit_transact.aar
          path: packages/android/algokit_transact/build/outputs/aar/algokit_transact-release.aar
