name: Swift CI

on:
  workflow_call:
    inputs:
      crate:
        description: "Crate name to build Swift package from"
        required: true
        type: string
      package:
        description: "Swift package (Xcode scheme) name"
        required: true
        type: string
      release:
        description: "Whether to commit generated package (push only)"
        required: false
        type: boolean
        default: false
  workflow_dispatch:
    inputs:
      crate:
        description: "Crate name"
        required: true
        type: string
        default: algokit_transact
      package:
        description: "Swift package name"
        required: true
        type: string
        default: AlgoKitTransact
      release:
        description: "Commit generated package"
        required: false
        type: boolean
        default: false

permissions:
  contents: write

env:
  CRATE: ${{ inputs.crate }}
  PACKAGE: ${{ inputs.package }}

jobs:
  build_and_test:
    defaults:
      run:
        shell: bash
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.85.0
          targets: aarch64-apple-ios, x86_64-apple-ios, aarch64-apple-ios-sim, x86_64-apple-ios, aarch64-apple-ios-macabi, x86_64-apple-ios-macabi, aarch64-apple-darwin, x86_64-apple-darwin
      - name: Build
        run: cargo pkg ${{ env.CRATE }} swift

      # Ideally we'd use a matrix for the platforms, but due to the limitations of Mac runners on GitHub it's probably better to just have a single job with multiple steps
      - name: Test (iOS)
        run: cd packages/swift/${{ env.PACKAGE }} && xcodebuild -scheme ${{ env.PACKAGE }} test -destination "platform=iOS Simulator,name=iPhone 16,OS=latest"
      - name: Test (macOS)
        run: cd packages/swift/${{ env.PACKAGE }} && xcodebuild -scheme ${{ env.PACKAGE }} test -destination "platform=macOS"
      - name: Test (Catalyst)
        run: cd packages/swift/${{ env.PACKAGE }} && xcodebuild -scheme ${{ env.PACKAGE }} test -destination "platform=macOS,variant=Mac Catalyst"

      - name: Zip Swift package
        run: cd packages/swift && zip -r ${{ env.PACKAGE }}.zip ${{ env.PACKAGE }} -x "${{ env.PACKAGE }}/.build/*"

      - name: Upload Swift package artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE }}
          path: packages/swift/${{ env.PACKAGE }}.zip

